<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoadSpocosyFilesToDbService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LoadSpocosyFilesToDbService.My.MySettings.ConnectionString"
            connectionString="Database=OddsMatching;Data Source=eu-cdbr-azure-north-e.cloudapp.net;User Id=b083cb50265fec;Password=263fb5f7;persistsecurityinfo=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <LoadSpocosyFilesToDbService.My.MySettings>
            <setting name="ProcessCycleEverySecs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ProcessLogPath" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyFilesToDbService\logs\</value>
            </setting>
            <setting name="MaxFilesToLoad" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LocalDownloadPath" serializeAs="String">
                <value>C:\#myFiles\Downloaded\</value>
            </setting>
            <setting name="ProcessStreamsSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessStreamNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CommitInsertsEvery" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="OddsProvdersIdList" serializeAs="String">
                <value>3,12,16,23,43,154</value>
            </setting>
        </LoadSpocosyFilesToDbService.My.MySettings>
    </userSettings>
</configuration>